<!DOCTYPE html>
<html>
  <head>
    <title>Word Nerds</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href="assets/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

