<h3>Add a definition:</h3>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="definition_meaning"></label>
    <input id="definition_meaning" name="definition_meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">So Shall It Be Done</button>
</form>

<h3><a href="/words/<%= @word.id %>">Return to Word</a></h3>
