<h1>Add a New Word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <input id="n" name="name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">So It Shall Be Written</button>
</form>