<h2>Word Name: <%= @word.name %></h2>


<h4><a href="/words/definition/new">Write a new definition</a></h4>


<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<p><a href="/words">Return to word list</a></p>