body {
  background-image: url('../images/library.jpg');
  background-color: beige;
}
.container {
  background-color:rgb(245, 245, 220, .9);
  margin: 5em;
  text-align: center;
}
#word-nerds {
  width: 50%
}